In [25]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns

In [26]:
df=pd.read_csv('road accident ml projec.csv')
df

,Weather,Time_of_Day,Traffic_Density,Road_Type,Road_Condition,Accident_History,Road_Safe_to_Travel
0,Rainy,Morning,High,Main Road,Bad,Low,Unsafe
1,Stormy,Morning,High,Rural Road,Good,Medium,Unsafe
2,Rainy,Afternoon,High,Service Road,Bad,Medium,Unsafe
3,Rainy,Afternoon,High,Highway,Bad,Low,Unsafe
4,Rainy,Evening,Medium,Rural Road,Good,High,Unsafe
...,...,...,...,...,...,...,...
11995,Stormy,Morning,Medium,Rural Road,Good,Medium,Unsafe
11996,Clear,Morning,Medium,Rural Road,Bad,Medium,Unsafe
11997,Rainy,Night,Medium,Rural Road,Good,High,Unsafe
11998,Stormy,Morning,Low,Rural Road,Bad,Low,Unsafe
11999,Stormy,Morning,Medium,Rural Road,Bad,Medium,Unsafe

In [27]:
df.head()

,Weather,Time_of_Day,Traffic_Density,Road_Type,Road_Condition,Accident_History,Road_Safe_to_Travel
0,Rainy,Morning,High,Main Road,Bad,Low,Unsafe
1,Stormy,Morning,High,Rural Road,Good,Medium,Unsafe
2,Rainy,Afternoon,High,Service Road,Bad,Medium,Unsafe
3,Rainy,Afternoon,High,Highway,Bad,Low,Unsafe
4,Rainy,Evening,Medium,Rural Road,Good,High,Unsafe

In [28]:
df.tail()

,Weather,Time_of_Day,Traffic_Density,Road_Type,Road_Condition,Accident_History,Road_Safe_to_Travel
11995,Stormy,Morning,Medium,Rural Road,Good,Medium,Unsafe
11996,Clear,Morning,Medium,Rural Road,Bad,Medium,Unsafe
11997,Rainy,Night,Medium,Rural Road,Good,High,Unsafe
11998,Stormy,Morning,Low,Rural Road,Bad,Low,Unsafe
11999,Stormy,Morning,Medium,Rural Road,Bad,Medium,Unsafe

In [29]:
df.dtypes

Weather                object
Time_of_Day            object
Traffic_Density        object
Road_Type              object
Road_Condition         object
Accident_History       object
Road_Safe_to_Travel    object
dtype: object

In [30]:
df.isna().sum()

Weather                0
Time_of_Day            2
Traffic_Density        2
Road_Type              3
Road_Condition         2
Accident_History       2
Road_Safe_to_Travel    0
dtype: int64

In [31]:
df['Weather'].fillna(df['Weather'].mode()[0], inplace=True)

C:\Users\rosha\AppData\Local\Temp\ipykernel_16284\445872913.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Weather'].fillna(df['Weather'].mode()[0], inplace=True)

In [32]:
df['Time_of_Day'].fillna(df['Time_of_Day'].mode()[0], inplace=True)

C:\Users\rosha\AppData\Local\Temp\ipykernel_16284\67113622.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Time_of_Day'].fillna(df['Time_of_Day'].mode()[0], inplace=True)

In [33]:
df['Traffic_Density'].fillna(df['Traffic_Density'].mode()[0], inplace=True)

C:\Users\rosha\AppData\Local\Temp\ipykernel_16284\2971637074.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Traffic_Density'].fillna(df['Traffic_Density'].mode()[0], inplace=True)

In [34]:
df['Road_Type'].fillna(df['Road_Type'].mode()[0], inplace=True)

C:\Users\rosha\AppData\Local\Temp\ipykernel_16284\2949809238.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Road_Type'].fillna(df['Road_Type'].mode()[0], inplace=True)

In [35]:
df['Road_Condition'].fillna(df['Road_Condition'].mode()[0], inplace=True)

C:\Users\rosha\AppData\Local\Temp\ipykernel_16284\3222352419.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Road_Condition'].fillna(df['Road_Condition'].mode()[0], inplace=True)

In [36]:
df['Accident_History'].fillna(df['Accident_History'].mode()[0], inplace=True)

C:\Users\rosha\AppData\Local\Temp\ipykernel_16284\1009309969.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Accident_History'].fillna(df['Accident_History'].mode()[0], inplace=True)

In [37]:
df.columns = df.columns.str.strip().str.replace(" ", "_").str.lower()

In [38]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

df['weather'] = le.fit_transform(df['weather'])
df['time_of_day'] = le.fit_transform(df['time_of_day'])
df['traffic_density'] = le.fit_transform(df['traffic_density'])
df['road_type'] = le.fit_transform(df['road_type'])
df['road_condition'] = le.fit_transform(df['road_condition'])
df['accident_history'] = le.fit_transform(df['accident_history'])
df['road_safe_to_travel'] = le.fit_transform(df['road_safe_to_travel'])

In [39]:
df

,weather,time_of_day,traffic_density,road_type,road_condition,accident_history,road_safe_to_travel
0,3,2,0,1,0,1,1
1,4,2,0,3,1,2,1
2,3,0,0,4,0,2,1
3,3,0,0,0,0,1,1
4,3,1,2,3,1,0,1
...,...,...,...,...,...,...,...
11995,4,2,2,3,1,2,1
11996,0,2,2,3,0,2,1
11997,3,3,2,3,1,0,1
11998,4,2,1,3,0,1,1
11999,4,2,2,3,0,2,1

In [40]:
x=df.iloc[:,:-1]
x

,weather,time_of_day,traffic_density,road_type,road_condition,accident_history
0,3,2,0,1,0,1
1,4,2,0,3,1,2
2,3,0,0,4,0,2
3,3,0,0,0,0,1
4,3,1,2,3,1,0
...,...,...,...,...,...,...
11995,4,2,2,3,1,2
11996,0,2,2,3,0,2
11997,3,3,2,3,1,0
11998,4,2,1,3,0,1
11999,4,2,2,3,0,2

In [41]:
y=df.iloc[:,-1]
y

0        1
1        1
2        1
3        1
4        1
        ..
11995    1
11996    1
11997    1
11998    1
11999    1
Name: road_safe_to_travel, Length: 12000, dtype: int64

In [42]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.30,random_state=42)
x_train

,weather,time_of_day,traffic_density,road_type,road_condition,accident_history
7729,0,3,0,3,1,1
3546,4,1,2,3,1,1
3527,4,0,0,3,0,1
10159,3,0,1,3,0,0
6959,0,2,1,3,0,2
...,...,...,...,...,...,...
11964,2,0,2,3,0,2
5191,3,0,2,3,0,1
5390,4,2,1,3,1,2
860,2,2,0,3,1,2
7270,2,0,1,3,1,0

In [43]:
x_test

,weather,time_of_day,traffic_density,road_type,road_condition,accident_history
1935,3,1,0,3,0,1
6494,2,3,2,3,0,0
1720,2,0,0,3,1,0
9120,1,2,2,3,1,1
360,4,1,1,3,0,2
...,...,...,...,...,...,...
9136,0,2,0,3,1,0
9169,1,0,2,3,1,0
9419,4,1,1,3,0,1
3817,4,0,0,3,0,2
6345,4,3,2,3,0,2

In [44]:
y_train

7729     0
3546     0
3527     1
10159    1
6959     0
        ..
11964    1
5191     1
5390     0
860      1
7270     1
Name: road_safe_to_travel, Length: 8400, dtype: int64

In [45]:
y_test

1935    1
6494    1
1720    1
9120    0
360     1
       ..
9136    1
9169    1
9419    1
3817    1
6345    1
Name: road_safe_to_travel, Length: 3600, dtype: int64

In [46]:
from sklearn.ensemble import RandomForestClassifier
model=RandomForestClassifier()
model.fit(x_train,y_train)
y_pred=model.predict(x_test)
y_pred

array([1, 1, 1, ..., 1, 1, 1], shape=(3600,))

In [47]:
from sklearn.metrics import accuracy_score
score=accuracy_score(y_test,y_pred)
score

0.9258333333333333

In [48]:
import pickle

# assume your trained model variable name is: model
pickle.dump(model, open("model.pkl", "wb"))